.bckg {
    background-color: white;
    border-bottom: 1px solid #ddd;
    z-index: 1500;
}

.brand {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 0;
    color: black;
}

.brand span {
    color: white;
}

.brand p {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    padding-left: 60px;
    margin-bottom: 0;
}

.navLink {
    color: white;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
}

.active {
    font-weight: 700;
    color: black;
    padding: 5px;
    font-size: 14px;
}

.transparent {
    background-color: rgba(0, 0, 0, 0.5);
}

.actualNavbar {
    background-color: #7B7FF6;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}