/secret_settings.py
/ACN/__pycache__
/__pycache__
/apis/__pycache__
/apis/migrations/__pycache__
/weights/yolov3.cfg
/weights/yolov3.weights
/weights/yolov3.tf.data-00000-of-00002
/weights/yolov3.tf.data-00001-of-00002
/weights/yolov3.tf.index
/deep_sort/__pycache__
/tools/__pycache__
/yolov3_tf2/__pycache__
/weights/yolov3-spp.weights
/result.avi
/req1.txt
/thermal/__pycache__
/thermal/migrations/__pycache__
/utils/__pycache__