.table {
    padding: 10px;
    text-align: center;
    padding-top: 100px;
}

.table th, .table td {
    border: 1px solid #ccc;
    padding: 12px;
}

.table th {
    background-color: #eee;
    font-weight: 600;
    text-transform: uppercase;
}

.table tr:nth-child(2n) {
  background-color: #f7f7f7;  
}